* {
  box-sizing: border-box;
}

body {
  margin: 0;
  opacity: 0;
  transition: opacity 0.125s ease-in-out;
  background-color: rgb(15, 13, 21);
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: white;
}
html, body {
  height: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body.loaded {
  opacity: 1;
}

/* Three.js canvas */
canvas {
  position: fixed; /* THIS is critical */
  inset: 0;
  z-index: 0;
}


/* ===============================
   Navigation
   =============================== */

/* ===== Topbar ===== */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 102px;
  background-color: transparent;
}

#home-button {
  position: absolute;
  top: 28px;
  left: 40px;
  color: white;
  font-size: 36px;
  font-family: 'Courier New', monospace;
  pointer-events: auto;
}

/* Buttons container */
#buttons {
  position: absolute;
  top: 34px;
  right: 40px;
  display: flex;
  gap: 12px;
  pointer-events: auto;
}

/* Button styles */
#buttons button {
  background: transparent;
  color: white;
  border: none;
  padding: 0px 40px;
  font-size: 24px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

#buttons button:hover {
  background-color: rgba(25,31,40,0.89);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn .carrot {
  display: none; 
}

.dropdown-content {
  display: block;
  background-color: rgba(25,31,40,0.89);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;

  opacity: 0;
  transform: translateY(-16px);
  pointer-events: none;
  overflow: hidden;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
  background-color: rgba(221,221,221,0.22);
}

.dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Burger icon */
#burger {
  display: none;
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
  color: white;
  z-index: 1001;
  pointer-events: auto;
}

/* Responsive Mobile Styles */
@media screen and (max-width: 1300px) {
  #buttons {
    flex-direction: column;
    width: 300px;
    top: 102px;
    right: 0;
    position: absolute;
    background-color: rgba(25,31,40,0.95);
    padding: 10px 0;

    opacity: 0;
    max-height: 0;
    transform: translateY(-16px);
    transition: max-height 0.3s ease, opacity 0.25s ease, transform 0.25s ease;
  }

  #buttons button {
    width: 100%;
    padding: 4px 40px;
    font-size: 22px;
    text-align: left;
  }

  #buttons.active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  #buttons button:hover{
    background-color: rgba(221,221,221,0.22);
  }

  #burger {
    display: block;
  }

  /* Stack dropdowns */
  .dropdown {
    width: 100%;
  }

  .dropbtn {
    width: 100%;
    text-align: left;
    background-color: #444;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  /* Carrot */
  .dropbtn .carrot {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: auto; /* push it to the right */
  }

  .dropdown.active .carrot {
    transform: rotate(90deg);
  }

  /* Dropdown content pushes others down */
  .dropdown-content {
    overflow: hidden;
    background-color: #00000000;
    box-shadow: none;
    max-height: 0;
    opacity: 0;
    transform: translateY(-16px);
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.25s ease, transform 0.25s ease;
  }

  .dropdown.active .dropdown-content {
    max-height: 500px; /* big enough for all items */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown-content a {
    padding: 8px 40px;
    font-size: 16px;
  }
}

/* Responsive header image */
img.responsive {
  width: 100%;
  height: 102px;
  object-fit: cover;
}


h1 {
  color: white;
  font-size: 30px;
  font-family: 'Courier New', monospace;
  font-weight: lighter;
  position: relative; 
  text-align: right;
  margin-left: 0px;
}

h2 {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  font-weight: lighter;
  position: relative; 
  text-align: left;
  padding-top: 40px;
}

h4 {
  color: white;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  font-weight: lighter;
  position: relative; 
  text-align: left;
  padding-top: 0px;
}

h5 {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 60px;
  line-height: 1;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ----- taken from w3.css ----- */

.w3-row-padding:before,
.w3-row-padding:after {
  content: "";
  display: table;
  clear: both;
}

.w3-row-padding,
.w3-row-padding > .w3-quarter {
  padding: 0 8px;
}

.w3-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.w3-center {
  text-align: center !important;
}

.w3-quarter {
  float: left;
  width: 100%;
}

@media (min-width: 601px) {
  .w3-quarter {
    width: 24.99999%;
  }
}

.w3-main,
#main {
  transition: margin-left 0.4s;
}

/* Responsive */
@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }

  .w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .w3-auto {
    max-width: 100%;
  }
}

/* Content widths */
.w3-content,
.w3-auto {
  margin-left: auto;
  margin-right: auto;
}

.w3-content {
  max-width: 980px;
}

.w3-auto {
  max-width: 1140px;
}

/* Padding utilities */
.w3-padding-small {
  padding: 4px 8px !important;
}

.w3-padding {
  padding: 8px 16px !important;
}

.w3-padding-large {
  padding: 12px 24px !important;
}

/* Fixed positioning */
.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.w3-top {
  top: 0;
}

.w3-bottom {
  bottom: 0;
}

/* Bar / navigation */
.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.w3-bar .w3-dropdown-hover,
.w3-bar .w3-dropdown-click {
  position: static;
  float: left;
}

.w3-bar .w3-button {
  white-space: normal;
}

/* Bar block */
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}

.w3-block {
  display: block;
  width: 100%;
}

/* Colors */
.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.w3-wide {
  letter-spacing: 4px;
}

.w3-sidebar{height:100%;width:200px;background-color:#ffffff00;position:fixed!important;z-index:1;overflow:auto}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}

.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

.w3-main,#main{transition:margin-left .4s}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
